language: python

sudo: false

env:
  matrix:
    - LUA="lua 5.1"
    - LUA="lua 5.2"
    - LUA="lua 5.3"
    - LUA="luajit @"
    - LUA="luajit 2.0"
    - LUA="luajit 2.1"

branches:
  only:
    - master

before_install:
  - pip install hererocks
  - hererocks here -r^ --$LUA
  - export PATH=$PATH:$PWD/here/bin
  - eval `luarocks path --bin`
  - luarocks install luacov-coveralls
  - luarocks install busted

install:
  - luarocks install --only-deps lredis-scm-0.rockspec

script:
  - busted -c

after_success:
  - luacov-coveralls -v

notifications:
  email:
    on_success: change
    on_failure: always

cache:
  directories:
    - $HOME/.cache/hererocks
